<nav>
  <ul>
    {{#if user }}
     <li> <a href="/profile/userProfile"> Profile </a> </li>
      <li> <a href="/auth/logout"> Log Out </a> </li>
    {{else}}
      <li> <a href="/auth/signup"> Sign Up </a> </li>
      <li> <a href="/auth/login"> Log In </a> </li>
    {{/if}}
  </ul>
</nav>
{{#if  user}}
  <p> Hello, {{user.username }}. Age: {{user.age}} </p>
  {{#each articles}}
  {{#if this.img}}
  <img src="{{this.img}}" width="300" height="200" alt="imgURL">
  <a href="/articles/{{this._id}}">Save News</a>
<br>
<br>
{{this.title}}
{{/if}}
{{/each}}
{{/if}}

