<div class="container">
  <h1>Edit Profile</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="{{user.profilePhoto}}" width="200" height="200" class="avatar img-circle" alt="avatar" >
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        Remember to
        <strong>save </strong>all the changes.
      </div>
      <h3>Personal info</h3>
      <form class="form-horizontal" method="POST" role="form" action="/profile/edit " enctype="multipart/form-data" >
           <div class="form-group">
          <label class="col-lg-3 control-label">Profile Image:</label>
          <div class="col-lg-8">
            <input type="text" name="photo" value="{{user.profilePhoto}}">
            <input class="form-control" type="file"  name='photo'   value="{{user.profilePhoto}}">
          </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Username:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="{{user.username}}" name="username">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Description:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="{{user.description}}" name="description">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Gender:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select id="user_time_zone" class="form-control" name="gender">
                <option>{{user.gender}}</option>
                <option>Woman</option>
                <option>Man</option>
              </select>
            </div>
          </div>
        </div>
     <div class="form-group">
          <label class="col-lg-3 control-label">Status:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="{{user.status}}" name="status">
          </div>
        </div>
        <div class="form-group">
          {{message}}
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            <input class="form-control" type="password" name="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm password:</label>
          <div class="col-md-8">
            <input class="form-control" type="password" name="passconfirm" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
          <button class="btn btn-primary">Save</button>
            <span></span>
            <a href="/profile/userProfile" class="btn btn-primary">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>