<div class="container margin">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="{{user.profilePhoto}}" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>{{ user.username }}</h3>
        <em>Click my face for more</em>
		</center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About {{ user.username }}</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="{{user.profilePhoto}}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">{{ user.username }}</h3>
                    <p class="text-left"><strong>Age:  </strong> {{ user.age }}</p>
                        <hr>
                         <p class="text-left"><strong>Gender:  </strong> {{ user.gender }}</p>
                        <hr>
                         <p class="text-left"><strong>Status:  </strong> {{ user.status }}</p>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        {{user.description}}</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

 
 <div class="card-group">
<div class="row">

     {{#each news}}
  <div class="card col-md-4">
    <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{this.description}}</p>
    </div>
  </div>
  {{/each}}
  </div>
  </div>